<% provide(:title, "Hash Lists") %>
<%= render 'hash_lists/header' %>
<div class="panel panel-default">
	<div class="panel-body">

	<h1>New hash list</h1>

	<%= form_for(@hashList) do |f| %>
		<!-- error messages here -->
		<%= f.label :title %>
		<%= f.text_field :title %>
		</br>

		<%= f.label :description %>
		<%= f.text_area :description %>
		</br>

		<%= f.submit "Create", class: "btn btn-large btn-primary" %>
	<% end %>

	</div>
</div>

<%= render 'hash_lists/footer' %>