<h1>hash:</h1>
<pre><%= @md5hash.md5_value %></pre>
<% if @md5hash.solved? %>
	Solution: <pre><%= @md5hash.solution %></pre>
<% else %>
	<%= form_for(@md5hash) do |f| %>
		<%= f.label :solution %>
		<%= f.text_field :solution %>
		<%= f.submit "Add solution" %>
	<% end %>
<% end %>
