<% provide(:title, "MD5 Hashes") %>
<%= render 'md5_hashes/header' %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Recient Hashes:</h2>
	</div>
	
	<div class="panel-body">

		<%= will_paginate @md5hashes %>
		
		<table class="table monospaced">
			<thead>
				<th>Hash</th>
				<th>Password</th>
			</thead>

		<% @md5hashes.each do |md5hash| %>
			<tr class="<%= md5hash.password != nil ? "success" : "" %>">
		  		<td><%= link_to md5hash.hex_hash, md5_hash_path(md5hash) %></td>

		  		<td><%= md5hash.password == nil ? "unsolved" : md5hash.password %></td>
		  	</tr>
		<% end %>


		</table>

	</div>


	<div class="panel-footer">


		

	</div>

</div>

<%= render 'md5_hashes/footer' %>
