<H1>Hashes: </H1>

<ul>
	<li><%= link_to "Submit new hashes", md5_hashes_new_path %></li>
	<li><%= link_to "Download all unsolved hashes", md5_hashes_unsolved_path %></li>
	<li><%= link_to "Stats", md5_hashes_stats_path %></li>
</ul>


<h2>Recient Hashes:</h2>
<table class="table table-striped table-bordered monospaced">
	<tr>
		<th>Hash</th>
		<th>Plain Text</th>
	</tr>

<% @md5hashes.each do |md5hash| %>
	<tr class="<%= md5hash.plain_text != nil ? "success" : "" %>">
  		<td><span class="monospaced"><%= link_to md5hash.md5_value, md5_hash_path(md5hash) %></span></td>
  		<td><%= md5hash.plain_text == nil ? "unsolved" : link_to(md5hash.plain_text.plainTextString, plain_text_path(md5hash.plain_text)) %></td>
  	</tr>
<% end %>
</table>