<h1>Submit Hashes</h1>

<H2>Paste Hashes</H2>
<%= form_tag(md5_hashes_paste_hashes_path) do %>
	<%= text_area_tag(:paste_string) %><br/>
	<%= submit_tag("Add") %>
<% end %>


<h2>Upload Hash File</h2>
  <%= form_tag(md5_hashes_upload_hashes_path, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
  <% end %>

<H2>Paste Passwords</H2>
<%= form_tag(md5_hashes_paste_passwords_path) do %>
	<%= text_area_tag(:paste_string) %><br/>
	<%= submit_tag("Add") %>
<% end %>

<h2>Upload Plain Text Passwords</h2>
  <%= form_tag(md5_hashes_upload_passwords_path, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
  <% end %>
