<H1>Users: </H1>

<ul>
	<li>Count: <%= @user_count %></li>
	<li></a>Solved: <%= @user_count_solved %></li>
	<li></a>Complete: <%= Float(@user_count_solved) / Float(@user_count) * 100.0 %> %</li>
</ul>
<table>
	<tr>
		<th><pre>Client</pre></th>
		<th><pre>Username</pre></th>
		<th><pre>Hash</pre></th>
		<th><pre>Solution</pre></th>
	</tr>

<% @users.each do |user| %>
	<tr>
  		<td><pre><%= user.client %></pre></td>
  		<td><pre><%= link_to user.name, user_path(user) %></pre></td>
  		<td><pre><%= user.md5_hash.nil? ? "NULL" : link_to(user.md5_hash.md5_value, md5_hash_path(user.md5_hash)) %></pre></td>
  		<td><pre><%= user.md5_hash.solution %></pre></td>
  	</tr>
<% end %>
</table>