<h1> NEW </h1>
<%= form_for @plainText do |f| %>
	<% if @plainText.errors.any? %>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			The form contains <%= pluralize(@plainText.errors.count, "error") %>.
			<ul>
				<% @plainText.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<%= f.label :plainTextString %>
	<%= f.text_field :plainTextString %>
	<%= f.submit %>
<% end %>


<H1>PASTE Plain Text</H1>

<%= form_tag(plain_texts_paste_path) do %>
	<%= text_area_tag(:paste_string) %><br/>
	<%= submit_tag("Add") %>
<% end %>


<h1>File Upload</h1>
  <%= form_tag({:action => 'upload'}, :multipart => true) do %>
    <p><label for="upload_file">Select File</label>
    <%= file_field 'upload', 'datafile' %></p>
    <%= submit_tag "Upload" %>
  <% end %>
